.article {
  margin-bottom: 20px;
  border: 2px solid red;
  border-radius: 10px;
  padding: 0 15px 15px 15px;
  background: linear-gradient(to right, #8a423d, white 10%)
}

.title { color: red; }

.time {
  font-weight: 600;
  margin-bottom: 15px;
}